* {
	font-family: 'PT Sans Narrow', sans-serif;
}

body {
	padding: 0;
	background-image: url(../images/bg1.jpg);
	background-position: 50% 0%;
	margin: 0;
}

input[type='text'], input[type='password'], textarea {
	position: relative;
	border: none;
	height: 32px;
	width: 100%;
	line-height: 32px;
	margin-top: 5px;
	margin-bottom: 5px;
	font-size: 14px;
	padding: 0;
	text-decoration: none;
	display: inline-block;
	vertical-align: middle;
	text-shadow: none;
	border-radius: 5px;
  	border-color: rgb( 236, 236, 236 );
}

button, input[type='submit'], input[type='button'], #button {
	position: relative;
	border: none;
	height: 32px;
	line-height: 32px;
	padding: 0 16px;
  	font-size: 14px;
  	color: rgb( 255, 255, 255 );
  	text-align: center;
  	margin-top: 5px;
	margin-bottom: 5px;
	color: #fff;
	text-decoration: none;
	text-align: center;
	display: inline-block;
	vertical-align: middle;
	background-color: #3d9970;
	-webkit-box-shadow: inset 0 -4px 0 0 #297f59;
	-moz-box-shadow: inset 0 -4px 0 0 #297f59;
	-o-box-shadow: inset 0 -4px 0 0 #297f59;
	box-shadow: inset 0 -4px 0 0 #297f59;
	text-shadow: none;
	cursor: pointer;
	border-radius: 5px;
	z-index: 1;
	 -webkit-transition: background 0.1s ease-out, box-shadow 0.1s ease-out;
  	-moz-transition: background 0.1s ease-out, box-shadow 0.1s ease-out;
  	-o-transition: background 0.1s ease-out, box-shadow 0.1s ease-out;
  	-ms-transition: background 0.1s ease-out, box-shadow 0.1s ease-out;
}

button:hover, input[type='submit']:hover, #button:hover {
	background-color: #23b172;
	cursor: pointer;
	text-decoration: none;
}

button:active, input[type='submit']:active, #button:active {

-webkit-box-shadow: inset 0 4px 0 0 #0d7e3d, inset 1px 0 0 0 #0d7e3d, inset -1px 0 0 0 #0d7e3d;
  -moz-box-shadow: inset 0 4px 0 0 #0d7e3d, inset 1px 0 0 0 #0d7e3d, inset -1px 0 0 0 #0d7e3d;
  -o-box-shadow: inset 0 4px 0 0 #0d7e3d, inset 1px 0 0 0 #0d7e3d, inset -1px 0 0 0 #0d7e3d;
  box-shadow: inset 0 4px 0 0 #0d7e3d, inset 1px 0 0 0 #0d7e3d, inset -1px 0 0 0 #0d7e3d;
}

main {
	text-align: center;
}

.logo {
	display: block;
	position: relative;
	padding: 5px;
	margin: 50px;
}

.box {
	display: block;
	padding: 10px;
	max-width: 100%;
	min-width: 300px;
	margin-left: 10px;
	margin-right: 10px;
	text-align: center;
	background-color: #ddd;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
}

.box img {
	display: inline-block;
}

article {
	display: inline-block;
	width: 220px;
	height: 320px;
	border-radius: 4px;
	color: #000;
	font-size: 20px;
	margin: 5px;
	margin-top: 15px;
	text-decoration: none !important;
}

article:hover {
	box-shadow: 0 1px 20px rgba(0,0,0,0.2);
}

.info {
	width: 222px;
	height: 22px;
	line-height: 22px;
	color: #fff;
	font-size: 16px;
	font-style: normal;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	background-image: url(../images/bg-info.png);
	background-repeat: repeat-x;
}


.popcorn2d {
	background-image: url("../images/project/popcorn2d.png");
	background-repeat: no-repeat;
	background-position: 10px;
}

.inkeri {
	background-image: url("../images/project/inkeri.png");
	background-repeat: no-repeat;
	background-position: 10px;
}

.connect {
	background-image: url("../images/project/plus.png");
	background-repeat: no-repeat;
	background-position: 10px;
}

.minigruzovikk {
	background-image: url("../images/project/minigruzovikk.png");
	background-repeat: no-repeat;
	background-position: 10px;
}

.gpc {
	background-image: url("../images/project/gpc.png");
	background-repeat: no-repeat;
	background-position: 10px;
}

.title_project {
	display: inline-block;
	width: 100%;
	font-size: 20pt;
	text-align: center;
}

.description {
	display: block;
	font-size: 16pt;
}

.image {
	display: block;
}

.tab-pane img {
	max-width: 100%;
	height: auto;
}

.box a:-webkit-any-link {
	text-decoration: none;
	text-align: center;
}